# =========================
# Rust / Cargo
# =========================
/target/

# =========================
# Environment Files
# =========================
.env*

# =========================
# System Files
# =========================
.DS_Store
Thumbs.db
/Icon[^M]

# =========================
# Editor / IDE Settings
# =========================
Session.vim
Sessionx.vim
.vscode/
.idea/
*.code-workspace

# =========================
# Runtime Sockets
# =========================
*.sock

# =========================
# Swap Files
# =========================
[._]*.s[a-v][a-z]
!*.svg
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

# =========================
# Temporary Files
# =========================
.netrwhist
*.bak
*~
[._]*.un~

# =========================
# Logs & Tags
# =========================
*.log
tags
