# =========================
# Project-Specific
# =========================
.env*

# =========================
# Node / Build Artifacts
# =========================
node_modules/
bower_components/
build/
dist/
coverage/
.nyc_output/
.next/
.nuxt/
out/
storybook-static/

pids
*.pid
*.seed
*.pid.lock

# =========================
# System Files
# =========================
.DS_Store
Thumbs.db
/Icon[^M]
.idea/
.vscode/
*.code-workspace

# =========================
# Editor / IDE Settings
# =========================
.eslintcache
.cache/
.parcel-cache/
Session.vim
Sessionx.vim

# =========================
# Archives
# =========================
*.zip
*.tar
*.tar.gz
*.tgz

# =========================
# Runtime Sockets
# =========================
*.sock

# =========================
# Swap Files
# =========================
[._]*.s[a-v][a-z]
!*.svg
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

# =========================
# Temporary Files
# =========================
.netrwhist
*.bak
*~

# =========================
# Logs & Tags
# =========================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.log
tags
[._]*.un~
